{% extends "layout.html" %}

{% block nav %}
    <div class="container-fluid">
        <a href="/">
            <i class="fa-solid fa-chevron-left fa-xl me-2"></i>
            List
        </a>
    </div>
    <div class="container-fluid">
        <p class="logo fs-3">{{ list_name }}</p>
    </div>
    <div class="container-fluid">
        <a href="/add-contact/{{ list_id }}">
            <i class="fa-solid fa-plus fa-xl me-2"></i>
            Add
        </a>
    </div>
{% endblock %}

{% block main %}
    <section id="contact">
        <div class="container pb-2 px-4">
            <div class="form-floating mb-3">
                <input type="search" class="form-control" id="search" placeholder="Search">
                <label for="search">
                    <i class="fa-solid fa-magnifying-glass me-2"></i>
                    Search
                </label>
            </div>
        </div>
        <div class="container px-4">
            <div id="searchResults">
                {% for contact in contact_list %}
                    <div class="d-flex justify-content-between border-top py-3">
                        <a href="contact-detail/{{ contact.id }}" class="d-flex w-100">
                            <div class="user-icon me-3">
                                <img src="/static/user-avatar.png" alt="User avatar" />
                            </div>
                            <div class="list-item-content">
                                <h3 class="m-0 fs-4">{{ contact.first_name }}</h3>
                                <p class="m-0 text-black-50 opacity-75">+{{ contact.phone_number }}</p>
                            </div>
                        </a>
                        <a href="https://wa.me/{{ contact.phone_number }}" target="_blank">
                            <div class="whatsapp-icon">
                                <img src="../static/whatsapp.png" alt="Whatsapp avatar" />
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
