{% extends "layout.html" %}

{% block nav %}
<div class="container-fluid">
  <a href="/profile-detail/{{ profile_id }}">
    <i class="fa-solid fa-chevron-left fa-xl me-2"></i>
    contact
  </a>
</div>
<div class="container-fluid">
  <img src="/static/logo-dark.png" alt="logo" class="logo">
</div>
<div class="container">
</div>
{% endblock %}

{% block main %}
<section>
  <div>
    <div class="container pb-2 px-4">
      <h2 class="mb-5">Editing {{ profile[0]["first_name"] }}{{ profile[0]["last_name"] }} in {{ current_list[0]["list_name"] }}</h2>
      <form id="edit-contact-form" action="/profile-detail/edit-contact/{{ profile[0]["id"] }}" method="post">
        <select class="form-select" name="selected_list" aria-label="Default select example">
          <option selected disabled>{{ lists[0]["list_name"] }}</option>
            {% for list in lists %}
              <option value="{{ list.id }}">{{ list.list_name }}</option>
            {% endfor %}
        </select>
        <button id="add-contact" type="submit" class="btn btn-secondary my-3 w-100">
          <i class="fa-solid fa-plus"></i>
          Move</button>
      </form>
    </div>
  </div>
</section>
{% endblock %}