{% extends "layout.html" %}

{% block nav %}
    <div class="container-fluid">
        <a href="/profile-detail/{{ profile_id }}">
            <i class="fa-solid fa-chevron-left fa-xl me-2"></i>
        </a>
    </div>
    <div class="container-fluid">
        <p class="logo fs-3">Edit profile</p>
    </div>
    <div class="container-fluid"></div>
{% endblock %}

{% block main %}
    <section class="section">
        <form id="edit-profile-form" action="/profile-detail/edit-profile/{{ profile_id }}" method="post" onsubmit="return validateForm();">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" name="profilename" id="profilename" placeholder="Profile Name" autocomplete="off" value="{{ profile.profile_name }}">
                <label for="profilename">Profile name</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" name="firstname" id="firstname" placeholder="First Name" autocomplete="off" value="{{ profile.first_name }}">
                <label for="firstname">First name</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" name="lastname" id="lastname" placeholder="Last Name" autocomplete="off" value="{{ profile.last_name }}">
                <label for="lastname">Last name</label>
            </div>
            <div class="form-floating mb-3">
                <input type="number" class="form-control" name="number" id="number" placeholder="Number" autocomplete="off" value="{{ profile.number }}">
                <label for="number">Number</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" name="address" id="address" placeholder="Address" autocomplete="off" value="{{ profile.address }}">
                <label for="address">Address</label>
            </div>
            <div class="form-floating mb-3">
                <input type="email" class="form-control" name="email" id="email" placeholder="name@example.com" autocomplete="off" value="{{ profile.email }}">
                <label for="email">Email</label>
            </div>
            <div id="url-container">
                {% for link in links %}
                    <div class="form-floating mb-3">
                        <input type="url" class="form-control" name="url{{ link.id }}" value="{{ link.link_url }}">
                        <label for="url">{{ link.link_type }}</label>
                        <input type="hidden" name="link_id{{ link.id }}" value="{{ link.id }}">
                    </div>
                {% endfor %}
            </div>
            <div class="form-floating mb-3">
                <input type="button" id="addurl" class="form-control" onclick="addURL()" placeholder="https://example.com">
                <label for="addurl"><i class="fas fa-plus"></i> Add URL</label>
            </div>
            <button class="btn btn-secondary w-100" type="submit">Update</button>
        </form>
    </section>
{% endblock %}