{% extends "layout.html" %}

{% block nav %}
    <div class="container-fluid">
        <a href="/">
            <i class="fa-solid fa-chevron-left fa-xl me-2"></i>
        </a>
    </div>
    <div class="container-fluid">
        <img src="/static/logo-dark.png" alt="logo" class="logo">
    </div>
    <div class="container-fluid">
        <a href="edit-profile/{{ profile_id }}">
            <i class="fa-regular fa-pen-to-square fa-xl"></i>
        </a>
    </div>
{% endblock %}

{% block main %}
    <section class="section">
        <div class="d-flex flex-column align-items-center">
            {% for data in profile %}
                <img class="card-img-top" src="/{{ data.image }}" alt="User avatar">
                <div class="w-100">
                    <div class="text-center mt-4">
                        <h1>{{ data.first_name }} {{ data.last_name }}</h1>
                        {% if data.number %}
                            <p>+{{ data.number }}</p>
                        {% endif %}
                    </div>
                    <div>
                        <div class="form-floating mb-3">
                            <input id="firstname" class="form-control" value="{{ data.first_name }}" autocomplete="off" disabled>
                            <label for="firstname">First name</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input id="lastname" class="form-control" value="{{ data.last_name }}" autocomplete="off" disabled>
                            <label for="lastname">Last name</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input id="number" class="form-control" value="{{ data.address }}" autocomplete="off" disabled>
                            <label for="number">Address</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input id="email" class="form-control" value="{{ data.email }}" autocomplete="off" disabled>
                            <label for="email">Email</label>
                        </div>
                    {% if links %}
                        {% for link in links %}
                            <div class="mb-3">
                                <a href="{{ link.link_url }}" target="_blank" class="form-floating">
                                    <input id="url-{{ link.id}}" class="form-control" autocomplete="off" value="{{ link.link_url }}">
                                    <label for="url-{{ link.id }}">{{ link.link_type }}</label>
                                </a>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            {% endfor %}
            {% for data in profile %}
                <button type="button" class="btn btn-danger w-100" data-bs-toggle="modal" data-bs-target="#modal-{{ data.id }}">
                    <i class="fa-solid fa-trash-can"></i>
                    Delete
                </button>
                {% set data = contact %}
                {% include "modal.html" %}
                <script>
                    document.addEventListener("DOMContentLoaded", function () {
                        document.querySelector("#delete-link-{{ contact.id }}").href = "/delete-contact/{{ contact.id }}";
                        document.querySelector("#item-{{ contact.id }}").textContent = "{{ contact.first_name }}";
                    });
                </script>
            {% endfor %}
        </div>
    </section>
{% endblock %}